<div class="top-menu">
	<div class="logo">
		<img src="images/logo-bomberos.png" alt="Logo">
		Bombers de València
	</div>
	<div class="nav-links">
		<a class="nav-link" href="#">Áreas Operativas</a>
		<a class="nav-link" href="#">Oposiciones</a>
		<a class="nav-link" href="#">Contacto</a>
		<a class="nav-link" href="#">Sede Electrónica</a>
	</div>
</div>
